* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    font-family: "Raleway", "sans-serif";
    margin: 0 2rem 0 2rem;
    max-width: 1400px;
}

h2 {
    font-size: 22px;
}
h3 {

    font-size: 18px;

}
h4 {
    font-size: 17px;

}
p {
    font-size: 16px;
}
a {
    text-decoration: none;
    color: inherit;
}


/* HEADER */
/* HEADER */
/* HEADER */



header {
    display:flex;
    justify-content: space-between;
    align-items: center; 
}

header img {
    height: 19px;
}

header div {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    justify-content: space-around;
}

header a {
    padding: 2.5rem;
}

header a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

/* Barre de recherche */
/* Barre de recherche */
/* Barre de recherche */

.fa-location-dot {
    border-radius: 1rem 0 0 1rem;
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
}

#Recherche {
    padding: 0.78rem; 
    border-top: 1px solid #f2F2F2;
    border-bottom: 1px solid #F2F2F2;
    font-size: 18px;
    font-weight: bold;
    border-left: none;
    border-right: none;
    margin: 1rem -4px;
}

.intro input::placeholder {
    color: black;
    font-size: 18px;
}

.intro #desktopbutton {
    padding: 0.94rem 0.85rem 0.87rem 0.85rem;
    border-radius: 0 1rem 1rem 0;
    background-color:#0065FC;
    font-size: 16px;
    color: white;
    border: none; 
    font-weight: bold;
}

.intro #mobilebutton {
    display:none;
}

.intro

.intro p, .intro h1 {
    margin: 1rem 0;
}

/* Filtres */
/* Filtres */
/* Filtres */

.filtres, .info {
    display: flex;
    align-items: center;
    justify-content:stretch;
    margin: 1rem 0 1rem 0;
}

.filtres div {
    display:flex;
    flex-wrap: wrap;
}

.filtres i {
    color: #0065FC;
    margin-right: 0.5rem;
}

.filtres p { 
    padding: 0.7rem 1rem;
    border-radius: 2rem;
    border: 2px solid #F2F2F2;
    justify-content: space-evenly;
    font-size: 17px;
    margin: 0 1rem; 
    font-weight: bold;
}

.filtres p:hover {
    background-color: #DEEBFF;
}



/* Info */
/* Info */
/* Info */

.info i { 
    color: #0065FC;
    border-radius: 2rem;
    padding: 0.5rem 0.8rem;
    border: 1px solid #F2F2F2;
}

.info p{
    padding-left: 0.5rem;
}

/* Hebergement */
/* Hebergement */
/* Hebergement */

.logements {
    display:flex;
    gap: 3%;
}

.hebergements {
    background-color: #F2F2F2;
    width: calc(100%/3*2);
    padding: 2rem;
    border-radius: 1rem;
}

.hebergements h2 {
    margin-bottom: 1.5rem;
}

.cartes {
    display: flex;
    flex-flow: row wrap;
    gap: 5%;
    margin-bottom: 1rem;
}

.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: white;
    padding: 0.3rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}

.card h4, .card p, .card ul, .card1 h4, .card1 p {
    margin: 2% 0 2% 0
}

.card .cotecard {
    padding: 0.3rem 0.5rem 0.5rem 0.5rem;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 124px;
    border-radius: 1rem 1rem 0 0;
}


.card .etoiles  {
    display: flex;
    flex-direction: row;
}

.fa-star {
    color: #0065FC;
}

.gris {
    color: #F2F2F2;
}

.bouton {
    width: 100%;
    border: none;
    font-weight: bold;
    background-color: #F2F2F2;
    font-size: 18px;
}

/* Populaires */
/* Populaires */
/* Populaires */

.populaires {    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #F2F2F2;
    width: calc(100%/3);
    padding: 2rem ;
    border-radius: 1rem;

}

.fa-chart-line {
    color: #0065FC;
    position:relative;
    float: right;
}

.card1 a {
    max-height: 144px;
    border-radius: 1rem;
    background-color: white;
    display:flex;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}

.card1 img {
    object-fit: cover;
    width: 37%;
    border-radius: 1rem 0 0 1rem;
}

.card1 .cotecard1 {
    display:flex;
    flex-direction: column;
    height: 144px;
    padding: 1rem;
    justify-content: space-between;
}

.card1 .etoiles {
    display:flex;
    flex-direction: row;
    position: relative;
    float:right;
}


/* Activités */
/* Activités */
/* Activités */

.activites {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activites h2 {
    margin: 1.5rem 0;
    width: 100%;
}

.card2 {
    width: 23%;
    height: auto;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    border-radius: 1rem;
}

.card2 a img {
    object-fit: cover;
    width: 100%;
    height: 389px; 
    border-radius: 1rem 1rem 0 0;
}

.card2 h4 {
        margin: 1rem;
}


/* Footer */
/* Footer */
/* Footer */

footer {
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 4rem;
}

.colonne {
    display:flex;
    flex-direction: column;
    flex-basis: calc(100%/3);
    margin: 2% 3% 3% 3%;
    align-items: stretch;
    padding: 1rem;
}

.colonne h3 {
    margin-bottom: 1rem;
}

.colonne a {
    margin-bottom: 0.5rem;
}

/* Mobile */

@media only screen and (max-width: 768px) {

    body {
        margin: 0;
    }

    header {
        flex-direction: column;
    }

    header img {
        height: 29px;
        margin: 1.5rem; 
    }

    header a {
        border-bottom: 3px solid #f2f2F2;
        margin-bottom: 1rem;
    }

    header a:hover {
        color: #0065FC;
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    header a {
        padding: 2rem;
    }

    .intro #desktopbutton {
        display:none;
    }

    .intro input {
        width: 80%;
    }

    .intro #mobilebutton {
        display: inline;
        padding: 1.1rem 1.3rem 1rem 1rem;
        border-radius: 0 1rem 1rem 0;
        background-color:#0065FC;
        color: white;
        border: none; 
    }

    .intro {
        padding: 2rem;
    }

    .intro h2, .text {
        margin: 0.7rem;
    }

    .intro form {
        margin: 1rem 0;
    }

    .filtres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .filtres h3 {
        margin-bottom: 1rem;
    }

    .filtres div {
        gap: 1rem 0.5rem;
        
    }

    .filtres div p {
        width: 49%;
        margin: 0;
    }

    .logements {
        flex-direction: column;
    }

    .populaires {
        order: -1;
        width: 100%;
        border-radius: 0;
    }

    .populaires h2 {
        margin-bottom: 1rem;
    }

    .card1 {
        margin: 1rem 0;
    }

    .card1 img {
        width: 30%;
    }
    
    .hebergements {
        width: 100%;
        background-color: white;
        padding-bottom: 0;
    }

    .card {
        width: 100%;
    }

    .bouton {
        display:none; 
    }

    .activites {
        flex-direction: column;
        padding: 0 2rem 2rem 2rem;
    }

    .card2 {
        width: 100%;
        margin: 1rem 0;
    }

    .card2 a img {
        object-fit: cover;
        width: 100%;
        height: 154px; 
        border-radius: 1rem 1rem 0 0;
    }
    
    footer {
        background-color: #F2F2F2;
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        padding-top: 1rem;
    }
    
    
    .colonne h3 {
        margin-bottom: 1rem;

    }
    
    .colonne a {
        margin-bottom: 0.5rem;
        margin-left: 0;
    }

}

@media only screen and (max-width: 992px) and (min-width: 769px) {

    body {
        margin: 0 2rem 0 2rem;
    }

    .logements {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
        margin-bottom: 2rem;
    }

    .populaires {
        width: 100%;
        flex-direction: row;
        height: auto;
    }

    .populaires h2 {
        width: 90%;
        margin-bottom: 1.5rem;
    }

    .card1 {
        width: 30%;
        height: auto;

    }

    .card1 img {
        object-fit: cover;
        width: 37%;
        border-radius: 1rem 0 0 1rem;
    }

    .card {
        width: 30%;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        background-color: white;
        padding: 0.3rem;
        margin-bottom: 1rem;
        box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    }
}

@media only screen and (min-width: 1456px) {
    body {
        margin:auto;
    }
}